<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

	<h1>Hunt for a Job</h1>
	<form action="/results" method="GET">
	   <input type="text" placeholder="Search for a Job in New York" name='query' > <input type="submit" value="Search"><br>
	</form>

</body>
</html>
