<!DOCTYPE html>
<html>
<head>
<title>JobHunter - Results</title>
</head>
<body>

	<h1>JobHunter Results</h1>
	<h2>You searched for: <em>"<%= @res %>"</em>
    <p>
      <% @jobs.each do |job| %>
        <a href="#"><%= job.text %></a><br>
      <% end %>
    </p>
</body>
</html>
